body{
  background: rgb(247, 175, 187);
}

.to-do-list{
  font-family:Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1 {
  font-size: 4rem;
}
button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.inputBox {
  display: flex;
  justify-content: center;
}

.add-button{
  background-color: rgb(11, 163, 11);
  height: 53px;
  margin-left: 1%;
}
.add-button:hover {
  background-color: rgb(27, 122, 27);
}
.delete-button {
  background-color: coral
}
.delete-button:hover {
  background-color: red;
}
.move-button {
  background-color: aqua;
  color: black;
}
.move-button:hover {
  background-color: blue;
}
input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: black;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  flex: auto;
}
.delete-button, .move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}


